{% extends "base.html" %} 
<!-- Tab name -->
{% block title %}Simulated Evolution Home{% endblock %}

{% block content %}

<!--Layout for Home page-->
<div class="row content">
    <!-- Simulator Control Binding Information(left side of screen) -->
    <div class="col-3 sidenav left-window">
        <!--Simulation parameters -->
        <!-- {# Displayed when user first visits page or wants to reset the simulation #} -->
        {% if not initSimParameters %}
          
        <form method="POST">
            <div class="sim-form">
                <label for="gridSize">Grid Size</label>
                <input 
                    type="gridSize" 
                    class="form-control" 
                    id="gridSize" 
                    name="gridSize" 
                    placeholder="Enter grid size"
                />
                <input 
                    type="numGenerations"
                    class="form-control"
                    id="numGenerations"
                    name="numGenerations"
                    placeholder="Enter Training Generations"
                />
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% else %}
            <!--Pre-Simulation setup -->
            {% if simulationSetup %}
            <div class="row">
                <div class="col">
                    <h1 class="text-center">Simulation Setup</h1>
                    <h2 class="text-center">Quick Controls</h2>
                    <p class="text-left">
                        Toggle Lightmap: SHIFT + M<br>
                        Toggle Heatmap: TAB
                    </p>
                    
                </div>
                <div class="col placing-stuff">
                    <h5 class="text-center">ToolBox<br>
                        <button id="selectButton" class="menuButton" type="button">
                            <span class="selectHoverText" data-hover="Select">
                                S
                            </span>
                        </button>
                        <button id="addWallButton" class="menuButton" type="button">
                            <span class="selectHoverText" data-hover="Place Wall">
                                W
                            </span>
                        </button>
                        <button id="addLightSourceButton" class="menuButton" type="button">
                            <span class="selectHoverText" data-hover="Place Lightsource">
                                L
                            </span>
                        </button>
                        <button id="addHeatSourceButton" class="menuButton" type="button">
                            <span class="selectHoverText" data-hover="Place Heatsource">
                                H
                            </span>
                        </button>
                        <button id="addConsumerButton" class="menuButton" type="button">
                            <span class="selectHoverText" data-hover="Place Consumer">
                                C
                            </span>
                        </button>
                        <button id="addProducerButton" class="menuButton" type="button">
                            <span class="selectHoverText" data-hover="Place Producer">
                                P
                            </span>
                        </button>
                        <button id="eraserButton" class="menuButton" type="button">
                            <span class="selectHoverText" data-hover="Eraser">
                                E
                            </span>
                        </button>
                    </h5>
                     <div class="row">
                        <div class="col">
                            <form method="POST" action='/reset_simulator'>
                                <button type="submit" class="small-btn btn-danger">Reset Simulator</button>
                            </form>
                        </div>
                        <div class="col">
                         <form method="POST">
                            <button id="startSimulation" type="submit" class="small-btn btn-success">Start Simulation</button>
                        </form>
                        </div> 
                    </div>
                </div>
            </div>
            <script
            type = "text/javascript"
            src = "{{ url_for('static', filename='sim-edit-menu.js') }}"
            ></script>
            {% endif %}
             <!--Running Simulation setup -->
            {% if activeSimulation %}
            <h1 class="text-center">Quick Controls</h1>
            <h5 class="text-center">Use these neat bindings!</h5>
            <p class="text-left">Pause/Play Simulation: SPACE<br>
            Create New Simulation: SHIFT + N<br>
            Toggle Heatmap: TAB<br>
            Toggle Lightmap: SHIFT + M
            </p>
            <h5 class="text-center">Or use the buttons below<br>
                <button id="simulateButton" type="button">Play Simulation</button>
                <button id="toggleClimateButton" type="button">Show Overlay</button>
                <button id="newSimulationButton" type="button">New Simulation</button>
            </h5>
            <script
                type = "text/javascript"
                src = "{{ url_for('static', filename='simulation-controls.js') }}"
            ></script>
            <form method="POST" action='/reset_simulator'>
                <button type="submit" class="btn btn-danger">Reset Simulator</button>
            </form>
            {% endif %}
        {%endif%}
    
        </div>
        <!-- Simulation Area(center of screen)-->
        <div class="col-6">
                <div class="sim-container">
                {% if grid_size %}
                    <script>
                    document.addEventListener("DOMContentLoaded", function(){
                    simSpace = new SimulationGrid({{grid_size}});
                    });
                    </script>
                {% endif %}
                </div>
        </div>
        <!--Descriptive information of selected simulation cell(right of screen)-->
        <div class="col-3 sidenav right-window analysis-container">
            
        </div>
    </div>
</div>
{% endblock %}
<!-- Scripts -->
{% block script %}
<!-- Grid functions -->
<script
type = "text/javascript"
src = "{{ url_for('static', filename='simulation-grid.js') }}"
></script>
<script
type = "text/javascript"
src = "{{ url_for('static', filename='cell.js') }}"
></script>
{% endblock script %}