{% extends "base.html" %} 
<!-- Tab name -->
{% block title %}Simulated Evolution Home{% endblock %}

{% block content %}
 
<!--Layout for Home page-->
<div class="row content">
    <!-- Simulator control Information(left side of screen) -->
    <div class="col-3 sidenav left-window">
        <h1 class="text-center">Quick Controls</h1>
        <p class="text-left">Pause/Play Simulation: SPACE<br>
        Create New Simulation: SHIFT + N
        </p>
    </div>
    <!-- Simulation Area(center of screen)-->
    <div class="col-6">
        <div class="square-container">
            <div class="sim-container">
            </div>
        </div>
    </div>
    <!--Descriptive information of selected simulation cell(right of screen)-->
    <div class="col-3 sidenav">
        <div class="analysis-container">
        </div>
    </div>
</div>
<footer class="container-fluid text-center">
<button id="simulateButton" type="button">Play Simulation</button>
<button id="newSimulationButton" type="button">New Simulation</button> 
<button id="toggleClimateButton" type="button">Show Heatmap</button>
</footer>
{% endblock %}

<!-- Scripts -->
{% block script %}
<!-- Grid functions -->

<script
type = "text/javascript"
src = "{{ url_for('static', filename='simulation-grid.js') }}"
></script>
<script
type = "text/javascript"
src = "{{ url_for('static', filename='cell.js') }}"
></script>
<script
type = "text/javascript"
src = "{{ url_for('static', filename='frontend-main.js') }}"
></script>
<script
type = "text/javascript"
src = "{{ url_for('static', filename='simulation-controls.js') }}"
></script>
{% endblock script %}