/* background color for webpage */
body{
    background-color: cadetblue;
}

/* Style for upper menu buttons */
.nav-item{
    font-weight: bold;
    font-size: 18px;
}


/* container for simulation */
.sim-container {
  display: flex;
  justify-content: center;
  max-width: 900vw;
  max-height: 900vh;
  display: grid;
  /* grid-template-columns: repeat(50, 18px); */
}
/* Style for Cells */
.cell-item {
  border: 0;
  width: 18px;
  height: 18px;
  position: relative;
}

/* Style for Cell-overlay */
.cell-overlay{
  min-width: inherit;
  min-height: inherit;
  position: absolute;
  pointer-events: none;
}

.analysis-container{
  background-color: beige;
}


.left-window{
  background-color: beige;
  
}

/* Visual displayed when user's mouse hovers over Cell */
.info-display{
  background-color: grey;
  width: 140px;
  height: 100px;
  position: absolute;
  pointer-events: none;
  font-weight: bold;
  transform: translate(15px, -10px);
  z-index: 1;
}
