/* background color for webpage */
body{
    background-color: cadetblue;
}

/* Style for upper menu buttons */
.nav-item{
    font-weight: bold;
    font-size: 18px;
}

.creature{
  border: 0;
  min-width: 16px;
  min-height: 16px;
}

/* Style for simulation */
.square-container{
  display: flex;
  justify-content: center;
  /* background-color: gray; */
  max-width: 900vw;
  max-height: 900vh;
  margin: 0 auto;
  margin-top: 1vw;

}
  
.sim-container {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(50, 1fr);
  /* background-color: black; */
}
.grid-item {
  border: 0;
  min-width: 18px;
  min-height: 18px;
}

/* Style for Simulator slider */
.slider-container{
  width: 100%;
}
.slider{
  width: 100%;
}