/* background color for webpage */
body{
    background-color: cadetblue;
}

/* Style for upper menu buttons */
.nav-item{
    font-weight: bold;
    font-size: 18px;
}


/* container for simulation */
.sim-container {
  display: flex;
  justify-content: center;
  max-width: 900vw;
  max-height: 900vh;
  display: grid;
  /* grid-template-columns: repeat(50, 18px); */
}
/* Style for Cells */
.cell-item {
  border: 0;
  width: 18px;
  height: 18px;
  position: relative;
}

/* Style for Cell-overlay */
.cell-overlay{
  width: inherit;
  height: inherit;
  position: absolute;
  pointer-events: none;
}

.analysis-container{
  background-color: beige;
}


.left-window{
  background-color: beige;
  
}

/* Visual displayed when user's mouse hovers over Cell */
.info-display{
  background-color: grey;
  width: 140px;
  height: 100px;
  position: absolute;
  pointer-events: none;
  font-weight: bold;
  transform: translate(15px, -10px);
  z-index: 1;
}

.placing-stuff{
  background-color: rgb(236, 190, 236);
  width: fit-content;
}

.addWallElement{
  background-color: rgb(135, 144, 222);
  width: inherit;
  height: 10%;
}

.selectHoverText {
  position: relative;
}

.selectHoverText:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  transition: opacity 0.1s ease-in-out;
  transform: translate(15px, 0px);

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.selectHoverText:hover:before {
  opacity: 1;
  visibility: visible;
}

.menuButton{
  width: 50px;
  height: 50px;
  font-size: inherit;
  text-align: center;
  
}

.creature{
  pointer-events: none;
}

.emitter-menu{
  color:black;
}

.creature-menu{
  color:black;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* Value slider for Emitter Range/Strength */
/* Source: https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}